---
import "../styles/global.css";
import Logo from "../assets/images/M_NEGATIVO.png";
import FotoM from "../assets/images/FotoM.png";

import BienvenidosComp from "../components/BienvenidosComp.astro";
import CargaPantallaComp from "../components/CargaPantallaComp.astro";
import NavbarComp from "../components/NavbarComp.astro";
import IntroduccionComp from "../components/IntroduccionComp.astro";

import PowerBi from "../assets/iconos/PowerBIcono.svg";
import Ansible from "../assets/iconos/AnsibleIcono.svg";
import VMWare from "../assets/iconos/VmwareIcono.png";
import AWS from "../assets/iconos/AwsIcono.png";
import Python from "../assets/iconos/PythonIcono.png";
import Astru from "../assets/iconos/Astru.png";
import Tailwind from "../assets/iconos/TailwindIcono.svg";
import PowerAutomate from "../assets/iconos/PowerAutomateIcono.png";
import React from "../assets/iconos/ReactIcono.png";

import Linkeding from "../assets/iconos/LinkedingIcono.png";
import GitHub from "../assets/iconos/GutHubIcono.svg";
import Instagram from "../assets/iconos/InstagramIcono.png";

import Git from "../assets/images/NRI0.gif";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mariana Valencia | Portafolio</title>

    <!-- ✨ Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>

  <body class="bg-gradient-to-br from-[#82225F] via-[#1e1e2f] to-[#42157D] animate-gradient text-white font-['Poppins'] relative overflow-x-hidden">
    <BienvenidosComp />
    <CargaPantallaComp />

    <!-- 🌟 Contenido principal -->
    <div id="main-content" class="opacity-0 transition-opacity duration-700">
      <NavbarComp />

      <!-- CONTENIDO -->
      <main class="max-w-7xl mx-auto px-6">
        <IntroduccionComp />

<section class="py-10">
  <h3 class="text-2xl mb-6">Experiencia Profesional</h3>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto">
    <!-- Tarjeta 1 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 flex flex-col justify-between hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div>
        <h4 class="text-xl font-semibold mb-2">Ingeniera de Infraestructura y Automatización</h4>
                 <p class="text-sm text-pink-400 mb-3">Bancolombia</p>
        <p class="text-sm text-gray-200 mb-4">
          Gestión de infraestructura en la nube, automatización de procesos y optimización de sistemas para mejorar la eficiencia operativa.
        </p>
                <div class="flex flex-wrap gap-2 my-2">
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">AWS</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Power Platform</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Python</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Ansible</span>
        </div>
      </div>
      <span class="text-pink-300 text-sm font-medium mt-auto">Noviembre 2025 - Actualidad</span>
    </div>

    <!-- Tarjeta 2 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 flex flex-col justify-between hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div>
        <h4 class="text-xl font-semibold mb-2">Administradora Sistemas Nube</h4>
         <p class="text-sm text-pink-400 mb-3">Tata Consultancy Services</p>
        <p class="text-sm text-gray-200 mb-4">
          Administración y optimización de infraestructuras en la nube, implementación de soluciones escalables y seguras.
        </p>
                        <div class="flex flex-wrap gap-2 my-2">
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">AWS</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Power Platform</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Azure | Pipelines</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Ansible</span>
        </div>
      </div>
      <span class="text-pink-300 text-sm font-medium mt-auto">Junio 2025 - Octubre 2025</span>
    </div>

    <!-- Tarjeta 3 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 flex flex-col justify-between hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div>
        <h4 class="text-xl font-semibold mb-2">Analista</h4>
                 <p class="text-sm text-pink-400 mb-3">Tata Consultancy Services</p>
        <p class="text-sm text-gray-200 mb-4">
          Administración de plataformas virtualizadoras, maquinas virtuales y automatización de tareas repetitivas en operación.
        </p>
                        <div class="flex flex-wrap gap-2 my-2">
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">VMWare</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Ansible</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Python</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Nutanix</span>
          <span class="bg-pink-400/20 text-pink-300 text-xs px-3 py-1 rounded-full">Power Platform</span>
        </div>
      </div>
      <span class="text-pink-300 text-sm font-medium mt-auto">Marzo 2023 - Junio 2025</span>
    </div>
  </div>
</section>

<section class="py-14">
  <h3 class="text-2xl mb-6">Tecnologías y Herramientas</h3>

  <div class=" mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Tarjeta 1 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={Ansible.src} alt="Power Bi Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">Ansible</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[90%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 90%</p>
    </div>

    <!-- Tarjeta 2 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={VMWare.src} alt="CSS Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">VMWare</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[70%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 70%</p>
    </div>

    <!-- Tarjeta 3 -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={AWS.src} alt="JavaScript Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">AWS</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[80%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 80%</p>
    </div>

    <!-- Ejemplo adicional -->
    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={Python.src} alt="React Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">Python</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[75%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 75%</p>
    </div>

    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={Astru.src} alt="Astro Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">Astro</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[80%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 80%</p>
    </div>

    <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={Tailwind.src} alt="Tailwind Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">TailwindCSS</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[70%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 70%</p>
    </div>
        <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={React.src} alt="Tailwind Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">React</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[70%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 70%</p>
    </div>
        <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={PowerBi.src} alt="Tailwind Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">Power Bi</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[90%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 90%</p>
    </div>

        <div class="bg-pink-300/10 border border-pink-200/20 rounded-2xl p-6 hover:-translate-y-2 hover:shadow-xl hover:shadow-pink-500/10 transition-all duration-300">
      <div class="flex items-center gap-4 mb-5">
        <img src={PowerAutomate.src} alt="Tailwind Logo" class="w-10 h-10" />
        <h4 class="text-lg font-medium text-white">Power Automate</h4>
      </div>
      <div class="w-full bg-pink-400/20 rounded-full h-3">
        <div class="bg-pink-400 h-3 rounded-full w-[80%] transition-all duration-500"></div>
      </div>
      <p class="text-sm text-pink-300 mt-2">Dominio 80%</p>
    </div>
  </div>
</section>

<section class="py-16 text-center">
  <h3 class="text-2xl font-semibold mb-8 text-pink-300">Conecta conmigo</h3>
    <p class="max-w-xl mx-auto text-gray-300 mb-10">
    Si quieres colaborar, tienes un proyecto en mente o simplemente deseas saludar, ¡estaré encantada de leerte! ✨
  </p>

  <!-- GIF centrado -->
  <div class="flex justify-center mb-10">
    <img
      src={Git.src} 
      alt="Animación de contacto"
      class="w-40 h-40 object-contain"
    />
  </div>

  <!-- Íconos de redes -->
  <div class="flex justify-center gap-6 mb-10">
    <a href="https://github.com/tuusuario" target="_blank" class="group">
      <div class="p-4 bg-pink-300/10 border border-pink-200/20 rounded-full transition-all duration-300 group-hover:bg-pink-400/20 group-hover:-translate-y-1">
        <img src={GitHub.src} alt="GitHub" class="w-7 h-7 group-hover:scale-110 transition-transform duration-300" />
      </div>
    </a>

    <a href="https://www.linkedin.com/in/marianavr/" target="_blank" class="group">
      <div class="p-4 bg-pink-300/10 border border-pink-200/20 rounded-full transition-all duration-300 group-hover:bg-pink-400/20 group-hover:-translate-y-1">
        <img src={Linkeding.src} alt="LinkedIn" class="w-7 h-7 group-hover:scale-110 transition-transform duration-300" />
      </div>
    </a>

    <a href="https://www.instagram.com/mavapandycode/" target="_blank" class="group">
      <div class="p-4 bg-pink-300/10 border border-pink-200/20 rounded-full transition-all duration-300 group-hover:bg-pink-400/20 group-hover:-translate-y-1">
        <img src={Instagram.src} alt="Instagram" class="w-7 h-7 group-hover:scale-110 transition-transform duration-300" />
      </div>
    </a>
  </div>
</section>







<!-- <section class="bg-pink-300/10 p-6 rounded-2xl backdrop-blur-sm">
  <h3 class="text-2xl mb-4">Sobre mí</h3>
  <p class="text-base mb-6 text-justify">
    Soy una apasionada desarrolladora web e ingeniera de infraestructura y automatización con experiencia en la creación de soluciones digitales innovadoras. Me especializo en el desarrollo front-end y back-end, utilizando tecnologías modernas para construir aplicaciones web eficientes y atractivas. Además, tengo habilidades en la gestión de infraestructuras tecnológicas y la automatización de procesos para optimizar el rendimiento y la escalabilidad de los sistemas. Mi objetivo es combinar mis conocimientos técnicos con mi creatividad para ofrecer experiencias digitales excepcionales.
  </p>
</section> -->

</main>

    </div>

    <!-- ⚙️ Script -->
    <script>
window.addEventListener("DOMContentLoaded", () => {
  const welcome = document.getElementById("welcome-screen");
  const loader = document.getElementById("loader");
  const content = document.getElementById("main-content");
  const continueBtn = document.getElementById("continue-btn");

  if (!continueBtn || !welcome || !loader || !content) return;

  continueBtn.addEventListener("click", () => {
    // Oculta la pantalla de bienvenida
    welcome.style.opacity = "0";
    welcome.style.pointerEvents = "none";

    setTimeout(() => {
      welcome.style.display = "none";

      // Muestra el loader
      loader.style.opacity = "1";
      loader.style.pointerEvents = "auto";

      // ⏳ Simula un tiempo de carga (1.5s aprox)
      setTimeout(() => {
        loader.style.opacity = "0";

        setTimeout(() => {
          loader.style.display = "none";
          content.style.opacity = "1"; // Muestra el contenido principal
        }, 600);
      }, 1500);
    }, 500);
  });
});
</script>

  </body>
</html>

